.container__small-card{
  width: 100%;
  margin-bottom: 15px;

}

.container__small-card-content{
  display: flex;
  gap: 15px;
  width: 700px;
  align-items: flex-start;
}


.small-card__title > h2{
  font-size: 15px;
}

.small-card__image > img{
  height: auto;
  width: 250px;
}

.small-card__description > p{
  margin-top: 7px;
  font-size: 10px;
  color: gray;
  text-transform: uppercase;
}

.container__small-card__separator{
  margin-top: 10px;
  margin-bottom: 10px;
}