<div class="container__small-card">
  
  <div class="container__small-card-content">

    <div class="small-card__image">
      <img src="https://hermes.dio.me/articles/cover/2fa40c61-2f1a-43f6-aaf1-fd8949d8dd2a.jpg" alt="">
    </div>

    <div class="text">

      <div class="small-card__description">
        <p>Aqui titulo</p>
      </div>

      <div class="small-card__title">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      </div>

    </div>

  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div>